vendor/yt-dlp/yt-dlp
vendor/yt-dlp/yt-dlp.exe
vendor/yt-dlp/yt-dlp_macos
vendor/yt-dlp/deno
vendor/yt-dlp/deno.exe
vendor/yt-dlp/*.zip
vendor/yt-dlp/*.part

node_modules/
dist/
out/
.tmp/
npm-debug.log*
*.log
.DS_Store
Thumbs.db
